{% include 'top.html' %}
{% include 'left.html' %}

<!-- 内容区域 -->
<!-- @@master = admin-layout.html-->
<!-- @@block = content -->
<div class="content-wrapper">

    <!-- 内容头部 -->
    <section class="content-header">
        <h1>
            导入数据
            <small>批量导入</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">导入数据</a></li>
            <li class="active">批量导入</li>
        </ol>
    </section>
    <!-- 内容头部 /-->
    <div class="warning" style="margin-top: 15px;">
        {% with errors = get_flashed_messages(category_filter=["import_error"]) %}
        {% if errors %}
        <div class="error">
            <a class="close" href="/to_import" style="margin-right: 25px;">×</a>
            <ul style="margin-bottom: 0px;">
                {% for msg in errors %}
                <li class="text-danger" style="font-size: medium;">{{ msg }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <!-- 正文区域 -->
    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">导入文件</h3>
            </div>

            <div class="box-body">

                <div class="tab-pane" id="tab-date">
                    <div class="row data-type">
                        <form action="/import" method="POST" enctype='multipart/form-data'>
                            <!-- <div class="col-md-4 title">导入月份</div> -->
                            <!-- <div class="col-md-8 data">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="month" class="form-control" id="table_name" placeholder="请输入导入数据的月份"
                                        name="table_name">
                                </div>
                            </div> -->
                            <div class="col-md-4 title">文件上传</div>
                            <div class="col-md-8 data">
                                <!-- <a href="javascript:;" class="a-upload"> -->
                                <input type="file" id="exampleInputFile" name="myfile" class="a-upload">点击这里上传文件
                                <!-- </a> -->
                            </div>
                            <div class="col-md-12 data text-center">
                                <button type="submits" class="btn bg-maroon">保存</button>
                                <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 正文区域 /-->

</div>



<!-- @@close -->
<!-- 内容区域 /-->

<!-- 底部导航 -->
{% include 'footer.html' %}
<!-- 底部导航 /-->





<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {
        setSidebarActive("admin-import");
    });
</script>
</body>

</html>