<!-- 底部导航 -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.1
    </div>
    <strong>Copyright &copy; 2020-2023 <a href="http://www.itcast.cn">刘志鹏</a>.</strong> All rights reserved.
</footer>
<!-- 底部导航 /-->

</div>


<script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../static/plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/plugins/raphael/raphael-min.js"></script>
<script src="../static/plugins/morris/morris.min.js"></script>
<script src="../static/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="../static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../static/plugins/knob/jquery.knob.js"></script>
<script src="../static/plugins/daterangepicker/moment.min.js"></script>
<script src="../static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="../static/plugins/daterangepicker/daterangepicker.zh-CN.js"></script>
<script src="../static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../static/plugins/fastclick/fastclick.js"></script>
<script src="../static/plugins/iCheck/icheck.min.js"></script>
<script src="../static/plugins/adminLTE/js/app.min.js"></script>
<script src="../static/plugins/treeTable/jquery.treetable.js"></script>
<script src="../static/plugins/select2/select2.full.min.js"></script>
<script src="../static/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="../static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
<script src="../static/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="../static/plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>
<script src="../static/plugins/bootstrap-markdown/js/markdown.js"></script>
<script src="../static/plugins/bootstrap-markdown/js/to-markdown.js"></script>
<script src="../static/plugins/ckeditor/ckeditor.js"></script>
<script src="../static/plugins/input-mask/jquery.inputmask.js"></script>
<script src="../static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script src="../static/plugins/datatables/jquery.dataTables.min.js?ver=1.2"></script>
<script src="../static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../static/plugins/chartjs/Chart.min.js"></script>
<script src="../static/plugins/flot/jquery.flot.min.js"></script>
<script src="../static/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="../static/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="../static/plugins/flot/jquery.flot.categories.min.js"></script>
<script src="../static/plugins/ionslider/ion.rangeSlider.min.js"></script>
<script src="../static/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="../static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="../static/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<!-- <script type="text/javascript">
    document.write("<scr" + "ipt src=\"../static/plugins/datatables/jquery.dataTables.min.js\"></sc" + "ript>");
</script> -->